/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/

   --Author Details--
   ==============================================
*  Author:     James Driscoll
*  Author URI: http://www.jamesdriscoll.london
*  Version:    3.0
   ==============================================

   --Colours--
   ==============================================
*  Background: #FFF;
*  Header Background: #F5F5F5;
*  Green: #669D2C;
*  Dark Green (Hover): #328127;;
*  Light Grey: #DBDEE3;
*  Dark Grey: #637076;
*  Dark Grey (Hover): #777;
   ==============================================

   ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #669D2C;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   $ Site Items
   ========================================================================== */
body {
    background: #FFF;
    border-top: 10px solid #669D2C;
    border-bottom: 10px solid #669D2C;
}

/* --Container Items-------------------------------------------------------- */
.container {
    width: 1200px;
    margin: 0px auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* ==========================================================================
   $ Header Items
   ========================================================================== */
.header {
    width: 100%;
    height: 550px;
    background: #F5F5F5;
    color: #637076;
    font-family: "Lato", "Trebuchet MS";
}
.header .title {
    font-size: 50px;
    margin: 0px;
    font-weight: normal;
    margin-bottom: 30px;
}
.header .title a {
    color: #545454;
    text-decoration: none;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.header .title a:hover {
    opacity: 0.8;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #777;
}

/* --Intro Items------------------------------------------------------------ */
.header .intro {
    float: left;
    width: 35%;
    margin-top: 30px;
    margin-left: 5%;
}
.header img.portrait {
    float: left;
    border-radius: 100%;
    margin-top: 30px;
}
.header .intro .intro-job-title {
    font-size: 17px;
}
.header .intro .intro-text {
    font-size: 14px;
    display: block;
    margin-top: 30px;
}
.header .intro .intro-doc-name {
    font-size: 19px;
    font-family: "Shadows Into Light Two", Georgia;
    margin-top: 60px;
    margin-bottom: 0px;
}

/* --Contact Items---------------------------------------------------------- */
.header .contact {
    float: right;
    width: 35%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.header .contact li {
    height: 90px;
    width: 100%;
}
.header .contact li a {
    display: block;
    width: 100%;
    height: 85px;
    color: #669D2C;
    font-size: 14px;
    text-decoration: none;
    line-height: 85px;
}
.header .contact .email a {
    background: url("img/icon-email-static.svg") no-repeat 100% 50%;

}
.header .contact .email a:hover {
    background: url("img/icon-email-hover.svg") no-repeat 100% 50%;

}
.header .contact .linked a {
    background: url("img/icon-linkedin-static.svg") no-repeat 100% 50%;

}
.header .contact .linked a:hover {
    background: url("img/icon-linkedin-hover.svg") no-repeat 100% 50%;

}
.header .contact .git a {
    background: url("img/icon-git-static.svg") no-repeat 100% 50%;

}
.header .contact .git a:hover {
    background: url("img/icon-git-hover.svg") no-repeat 100% 50%;

}
.header .contact li a:hover {
    text-decoration: underline;
    color: #328127;
}

/* ==========================================================================
   Main Content Items
   ========================================================================== */


/* --Bullet Points Items---------------------------------------------------- */
.bullet-points {
    padding-left: 0px;
    text-align: center;
}
.bullet-points li {
    display: inline-block;
    padding: 20px;
    margin-left: 0px;
    height: 150px;
    line-height: 250px;
}

/* --Section Title Items----------------------------------------------------- */
.section-title {
    font-size: 80px;
    color: #646472;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}

/* --Skills Items------------------------------------------------------------ */
.skills {
    width: 100%;
}
.skills .skill-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
}
.skills .skill-list .whole-bar {
    height: 37px;
    width: 100%;
    background-color: #DBDEE3;
    margin-bottom: 37px;
    transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.skills .skill-list .bar {
    height: 37px;
    float: left;
    font-family: "Lato" "Trebuchet MS" "Arial";
    font-size: 14px;
    color: #FFF;
    font-weight: normal;
    margin: 0px;
    line-height: 38px;
    padding-left: 10px;
    text-transform: uppercase;
}
.skills .skill-list .whole-bar:hover {
    opacity: 0.8;
    transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
}
.skills .skill-list .grey {
    background-color: #637076;
    height: 37px;
    width: 324px;
}
.skill-list .colour {
    background-color: #669D2C;
    height: 37px;
    width: 324px;
}

/* --Skill Box Percentages------------- */
.skills .skill-list .skill-pm {
    width: 70%
}
.skills .skill-list .skill-html {
    width: 60%;
}
.skills .skill-list .skill-css {
    width: 55%;
}
.skills .skill-list .skill-require {
    width: 65%;
}
.skills .skill-list .skill-sql {
    width: 50%;
}
.skills .skill-list .skill-php {
    width: 35%;
}
.skills .skill-list .skill-net {
    width: 50%;
}
.skills .skill-list .skill-email {
    width: 60%;
}
.skills .skill-list .skill-oo {
    width: 55%;
}
.skills .skill-list .skill-office {
    width: 65%;
}

/* --Education Items--------------------------------------------------------- */
.education {
    width: 100%;
    background: #669D2C;
    color: #DBDEE3;
}
.education .section-title{
    color: #DBDEE3;
}
/* --Details Items--------------------- */
.education .details {
    height: 40px;
    background: #DBDEE3;
    color: #637076;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 30px;
}
.education .details .level {
    float: left;
    display: block;
    clear: both;
    padding-left: 30px;
    margin: 0;
    font-weight: normal;
    font-size: 15px;
}
.education .details .date {
    float: right;
    padding-right: 30px;
    font-size: 15px;  
}
/* --Logo Items----------------------------------- */
.education .logo {
    float: right;
    margin-top: 30px;
    position: relative;
    width: 40%;
}
.education .logo img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}
.education .logo:hover {
    opacity: 0.8;
}

/* --Degree Items--------------------------------- */
/* --Section-Details Items------------- */
.education .section-details {
    float: left;
}
.education .course {
    clear: both;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;  
    margin-bottom: 8px;  
}
.education .course span {
    font-size: 20px;
}
.education .course-year {
    display: block;
}
.education .modules {
    list-style: none;
    font-size: 15px;
    margin-top: 0px;
    padding-left: 30px;
}
.education .degree .logo {
    margin-top: 100px;
}

/* --A-Levels Items------------------------------- */
.education .a-level {
    padding-top: 40px;
    clear: both;
}
.education .a-level .details {
    margin-bottom: 0px;
}
.education .a-level .logo {
    margin-top: 25px;
}
.education .a-level #a-levels {
    margin-top: 30px;
}

/* --Secondary Items------------------------------- */
.education .secondary {
    clear: both;
    padding-top: 40px;  
}
.education .secondary .modules {
    width: 50%;
}
.education .secondary .logo {
    position: relative;
    margin-top: 0px;
}
.education .secondary .logo img {
    border-radius: 10px;
}
.education .secondary .logo {
    margin-top: 0px;
}

/* --Work Experience Items--------------------------------------------------- */
.work .company .name {
    height: 40px;
    background: #DBDEE3;
    color: #637076;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 30px;
    padding-left: 30px;
}
.work .title-work {
    width: 76%;
    left: 225px;
}
.work .company {
    clear: both;
    margin-bottom: 60px;
}
.work .company .logo {
    float: right;
    margin-top: 30px;
    position: relative;
    width: 50%;
}
.work .company .logo img {
    width: 100%;
}
.work .company .logo img:hover {
    opacity: 0.8;
}
.work .company .box {
    width: 100%;
    background-color: #669D2C;
    color: #FFF;
    font-family: "Lato" "Trebuchet MS";
    font-size: 14px;  
    text-align: center;
    line-height: 37px; 
    margin: 0px;
    font-weight: normal;
    display: block;
    margin-top: 30px;
}
.work .company .details {
    float: left;
    width: 40%;
}
.work .description {
    clear: both;
    padding-top: 10px;
    color: #637076;
}

/* --Achievements Items------------------------------------------------------ */
.achievements {
    width: 100%;
    background: #669D2C;
    color: #DBDEE3;
}
.achievements .section-title{
    color: #DBDEE3;
}
.bullet-points li {
    list-style: none;
}
.bullet-points .cisco {
    background: url("img/icon-cisco.png") no-repeat 50% 30%;
}
.bullet-points .office {
    background: url("img/icon-office.png") no-repeat 50% 12%;
}
.bullet-points .dofe {
    background: url("img/icon-dofe.png") no-repeat 50% 14%;
}
.bullet-points .guitar {
    background: url("img/icon-guitar.png") no-repeat 0% 17%;
}
.bullet-points .drive {
    background: url("img/icon-drive.png") no-repeat 50% 30%;
}
.bullet-points .placement {
    background: url("img/icon-placement.png") no-repeat 50% 0%;
}

/* --Interests Items--------------------------------------------------------- */
.interests {
    color: #637076;
}
.bullet-points .squash {
    background: url("img/icon-squash.png") no-repeat 24% 14%;
}
.bullet-points .gym {
    background: url("img/icon-gym.png") no-repeat 50% 20%;
}
.bullet-points .tech {
    background: url("img/icon-tech.png") no-repeat 50% 7%;
}
.bullet-points .business {
    background: url("img/icon-business.png") no-repeat 50% 13%;
}
.bullet-points .webdev {
    background: url("img/icon-webdev.png") no-repeat 50% 20%;
}
.bullet-points .problem {
    background: url("img/icon-problem.png") no-repeat 50% 0%;
}
.bullet-points .world {
    background: url("img/icon-world.png") no-repeat 50% 7%;
}

/* ==========================================================================
   Footer Items
   ========================================================================== */
.footer {
    clear: both;
    width: 100%;
    height: 150px;
    background: #F5F5F5;
    color: #637076;
}
.footer .container {
    padding-top: 70px;
    padding-bottom: 0;
}
.footer a {
    color: #669D2C;
    font-size: 14px;
    text-decoration: none;
    font-family: "Lato", "Trebuchet MS";
}
.footer .email {
    float: left;
}
.footer a:hover {
    text-decoration: underline;
    color: #328127;
}
.footer .author {
    float: right;
    margin-top: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}