/* ==========================================================================
   ==========================================================================
   Responsive code for fluid interface
   ========================================================================== *
   ========================================================================== */


/* ==========================================================================
   $ Max Width : 1200px;
   ========================================================================== */
@media screen and (max-width: 1200px) {
	.container {
		width: 85%;
	}
	.header .intro {
		width: 55%;
	}
	.header .intro .intro-details {
		width: 60%;
		margin-left: 2%;
	}
}

/* ==========================================================================
   $ Max Width : 900px;
   ========================================================================== */
@media screen and (max-width: 900px) {
	.container {
		width: 95%;
	}
	.header .intro {
		width: 55%;
	}
	.header .intro .intro-details {
		width: 55%;
	}
}

/* ==========================================================================
   $ Max Width : 700px;
   ========================================================================== */
@media screen and (max-width: 700px) {
	.container {
		width: 95%;
	}
	.header .title {
		float: left;
	}
	.header img.portrait {
		float: right;
	}
}

/* ==========================================================================
   $ Max Width : 600px;
   ========================================================================== */
@media screen and (max-width: 600px) {
	.container {
		width: 100%;
	}
	.header .intro {
		width: 55%;
	}
	.header .intro .intro-details {
		width: 100%;
	}
	.header .contact li a {
		text-align: right;
	}
	.header .contact .email a {
		background: none;
	}
	.header .contact .git a {
		background: none;
	}
	.header .contact .linked a {
		background: none;
	}
	.header .contact .email a:hover {
		background: none;
	}
	.header .contact .git a:hover {
		background: none;
	}
	.header .contact .linked a:hover {
		background: none;
	}
}

/* ==========================================================================
   $ Max Width : 500px;
   ========================================================================== */
@media screen and (max-width: 500px) {
.header img.portrait {
		float: left;
		clear: both;
	}
}

