/* =========================================================================
   =========================================================================
   Responsive code for fluid interface
   ========================================================================= *
   ========================================================================= */


/* =========================================================================
   Max Width : 1200px; -- Full Sized Desktop
   ========================================================================= */
@media screen and (max-width: 1200px) {
	/* --Site Items--------------------------------------------------------- */
	.container {
		width: 85%;
	}
	/* --Header Items------------------------------------------------------- */
	.header .intro {
		width: 30%;
		margin-left: 2%;
	}
	.header .contact {
		width: 38%;
	}
}

/* =========================================================================
   Max Width : 900px; -- Medium Desktop
   ========================================================================= */
@media screen and (max-width: 900px) {
	/* --Site Items--------------------------------------------------------- */
	.container {
		width: 95%;
	}
}

/* =========================================================================
   Max Width : 800px; -- Small Desktop
   ========================================================================= */
@media screen and (max-width: 800px) {
	/* --Header Items------------------------------------------------------- */
	.header .title {
		float: left;
	}
	.header img.portrait {
		float: right;
	}
	.header .intro {
		width: 40%;
		clear: both;
		margin-top: 85px;
	}
	.header .contact {
		width: 45%;
		margin-top: 50px;
	}
}

/* =========================================================================
   Max Width : 600px; -- Tablet
   ========================================================================= */
@media screen and (max-width: 600px) {
	/* --Site Items--------------------------------------------------------- */
	body {
    	background: #FFF url("img/background-header-tablet.png") repeat-x;  
	}
	.container {
		width: 100%;
	}
	/* --Header Items------------------------------------------------------- */
	.header {
		height: 350px;
		margin-top: 20px;
	}
	.header .title {
		padding-top: 40px;
	}
	.header img.portrait {
		margin-top: 0px;
	}
	.header .intro {
		width: 50%;
		margin-top: 25px;
	}
	.header .intro .intro-text {
		margin-top: 10px;
	}
	.header .intro .intro-doc-name {
		margin-top: 20px;
	}
	.header .contact {
		margin-top: 10px;
	}
	.header .contact li {
		height: 50px;
	}	
	.header .contact li a {
		text-align: right;
		height: 50px;
		line-height: 50px;
	}
	.header .contact .email a {
		background: none;
	}
	.header .contact .git a {
		background: none;
	}
	.header .contact .linked a {
		background: none;
	}
	.header .contact .email a:hover {
		background: none;
	}
	.header .contact .git a:hover {
		background: none;
	}
	.header .contact .linked a:hover {
		background: none;
	}
}

/* =========================================================================
   Max Width : 500px; -- Mobile Devices
   ========================================================================= */
@media screen and (max-width: 500px) {
	/* --Header Items------------------------------------------------------- */
	.header img.portrait {
		float: left;
		clear: both;
	}
	.header .title {
		padding-top: 0px;
		margin-bottom: 5px;
		text-align: center;
		float: none;
	}
	.header img.portrait {
		float: none;
		display: block;
	    margin-left: auto;
	    margin-right: auto	
	}
	.header .intro {
		display: block;
		float: none;
		width: 100%;
		margin: 10px 0px 0px 0px;

	}
	.header .intro .intro-doc-name {
		display: none;
	}
}