/* =========================================================================
   =========================================================================
   Responsive code for fluid interface
   ========================================================================= *
   ========================================================================= */


/* =========================================================================
   Max Width : 1500px; -- Full Sized Desktop
   ========================================================================= */
@media screen and (max-width: 1250px) {
	/* --Site Items--------------------------------------------------------- */
	.container {
		width: 85%;
	}
	/* --Header Items------------------------------------------------------- */
	.header .intro {
		width: 30%;
		margin-left: 2%;
	}
	.header .contact {
		width: 38%;
	}
}

/* =========================================================================
   Max Width : 900px; -- Medium Desktop
   ========================================================================= */
@media screen and (max-width: 900px) {
	/* --Site Items--------------------------------------------------------- */
	.container {
		width: 95%;
	}
}

/* =========================================================================
   Max Width : 800px; -- Small Desktop
   ========================================================================= */
@media screen and (max-width: 800px) {
	/* --Site Items--------------------------------------------------------- */
	.container {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	/* --Header Items------------------------------------------------------- */
	.header .title {
		float: left;
		margin-top: 30px;
	}
	.header img.portrait {
		float: right;
		margin-top: 0px;
	}
	.header .intro {
		width: 40%;
		clear: both;
		margin-top: 85px;
	}
	.header .contact {
		width: 50%;
		margin-top: 50px;
	}
	/* --Education Items---------------------------------------------------- */
	/* --Degree Items--------------------- */
	.education .degree .logo {
		float: none;
	}
	.education .degree .logo img {
		max-width: 60%;
		display: block;
	    margin-left: auto;
	    margin-right: auto; 
	}
}

/* =========================================================================
   Max Width : 600px; -- Tablet
   ========================================================================= */
@media screen and (max-width: 600px) {
	/* --Site Items--------------------------------------------------------- */
	.container {
		width: 98%;
	}
	/* --Header Items------------------------------------------------------- */
	.header {
		height: 350px;
	}
	.header img.portrait {
		margin-top: 0px;
	}
	.header .intro {
		width: 50%;
		margin-top: 25px;
		margin-left: 0;	
	}
	.header .intro .intro-text {
		margin-top: 10px;
	}
	.header .intro .intro-doc-name {
		margin-top: 20px;
	}
	.header .contact {
		margin-top: 10px;
	}
	.header .contact li {
		height: 50px;
	}	
	.header .contact li a {
		text-align: right;
		height: 50px;
		line-height: 50px;
	}
	.header .contact .email a {
		background: none;
	}
	.header .contact .git a {
		background: none;
	}
	.header .contact .linked a {
		background: none;
	}
	.header .contact .email a:hover {
		background: none;
	}
	.header .contact .git a:hover {
		background: none;
	}
	.header .contact .linked a:hover {
		background: none;
	}
	/* --Education Items---------------------------------------------------- */
	.education .degree .logo {
		float: none;
	}
	.education .secondary .logo img {
   		border-radius: 0px;
	}
}

/* =========================================================================
   Max Width : 500px; -- Mobile Devices
   ========================================================================= */
@media screen and (max-width: 500px) {
	/* --Site Items--------------------------------------------------------- */
	.container .section-title {
			font-size: 50px;
		}
	/* --Header Items------------------------------------------------------- */
	.header {
		background: none;
	}
	.header img.portrait {
		float: left;
		clear: both;
	}
	.header .title {
		padding-top: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
		text-align: center;
		float: none;
	}
	.header img.portrait {
		float: none;
		display: block;
	    margin-left: auto;
	    margin-right: auto	
	}
	.header .intro {
		display: block;
		float: none;
		width: 100%;
		margin: 10px 0px 0px 0px;
	}
	.header .intro .intro-doc-name {
		display: none;
	}
	.header .contact {
		width: 100%;
	}
	.header .contact li {
		height: 30px;
	}
	.header .contact li a {
		height: 30px;
		line-height: 30px;
		text-align: center;	
	}

	/* --Education Items---------------------------------------------------- */
	.education .details .level {
		font-size: 13px;
		padding-left: 10px;
	}
	.education .details .date {
		font-size: 13px;
		padding-right: 10px;
	}
	.education .modules {
		padding-left: 10px;
	}
}